<ion-view view-title="Facebook Login">
  <ion-content  style="padding-top: 20%">
    <h2>Welcome to Facebook</h2>
    <div class="padding">
      <button ng-click="facebookSignIn()" class="button button-block button-balanced ion-social-facebook ion-center">Login With Facebook</button>
      <p>
        Clicking the above button will initiate an official browser sign in flow with Facebook.  You
        will be redirected to the Facebook website to enter your credentials.
      </p>
    </div>
  </ion-content>
</ion-view>
